<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <style>
       

        nav{
            margin-bottom: 20px;
            background-color: rgb(105, 74, 35);
            padding: 10px;
            
            align-items: center;
            display: flex;
        }  

        nav a{
            font-size: 20px;
            text-decoration: none;
            color: black;
            margin: 10px;
        }
    </style>
</head>
<body>
    <nav>
        <h2 style="margin-right: 50px;">Express Js Routing</h2>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
</body>
</html>