<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <h1 style="text-align:center;">About us Page</h1>
    <div>
        <p  style="text-align:center;">
        Hello From About Page </p>
    </div>
    <%- include('partials/footer') %>
</body>
</html>